*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* body */
/*nav */
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 9999;
}
/*logo */
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
/*nav ul */
nav ul{
    float: right;
    margin-right: 100px;
}
/* nav ul li */
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media screen and (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 874px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a.active,
    a:hover {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}
hr{
    border-top: 1px solid #0082e6;
    margin-bottom: 20px;
}
/* Home section styles */
.home-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.background-image.active {
    opacity: 1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content h1 {
    font-size: 36px;
    font-weight: bold;
    color: #1b9bff;
}

.content p {
    font-size: 18px;
    color: #0082e6;
}
/*product section*/
.product-section {
    /* Add styles for the product section */
        background-color: #fff;
        padding: 50px;
        height: 100vh;
        margin-bottom: -100px;
        margin-top: 100px;
}

.product-section h2 {
    /* Add styles for the section header */
    color: #1b9bff;
    margin-bottom: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pagination {
    margin-top: 16px;
    text-align: center;
}

.pagination button {
    background-color: #0082e6;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 3px;
    margin-left: 8px;
}

.pagination button:hover {
    background-color: #1b9bff;
}

.pagination button:disabled {
    background-color: #ccc;
}
/*about */
.about-section {
    background-color: #fff;
    padding: 50px;
    height: 100vh;
    margin-bottom: -100px;
}

.about-container {
    max-width: 100%;
    margin:0 auto;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}

.text-column {
    flex: 2;
    padding-right: 20px;
}

.image-column {
    flex: 1;
}

.image-column img {
    max-width: 100%;
    height: 100%;
    margin: 10px;
}
.about-section h1{
    color: #1b9bff;
}
/* Footer styles */
footer {
    background-color: #f2f2f2;
    padding: 50px 0;
     position: relative;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-column {
    flex-basis: 25%;
    padding: 0 20px;
}

.footer-column h3 {
    color: #1b9bff;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-column p {
    line-height: 1.5;
}

.footer-column ul {
    list-style: none;
    margin-bottom: 20px;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li i {
    margin-right: 10px;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #1b9bff;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

footer hr {
    border-top: 1px solid #0082e6;
}

.bottom-bar {
    color: #333;
    text-align: center;
    padding: 10px;
}
/*mobile size for about */
@media screen and (max-width: 768px) {
    .about-section{
        margin-bottom: 25px;
    }
    
    .about-content {
        flex-direction: column;
    }

    .text-column {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .image-column {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .about-section{
        height: 100vh;
    }
    .product-section{
        margin-bottom: auto;
        padding: 20px;
    }
    .about-container {
        padding: 0 10px;
    }
         label.logo {
             font-size: 20px;
             padding-left: 25px;
         }
}
